body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 310px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.todo-wrapp {
  // height: 100px;
  // width: 480px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  background-color: rgb(235, 235, 127);
}
.list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
